header {
    font-size: 48px;
    padding: 20px;
    background-color: rgb(76, 134, 200);
    text-align: center;
}

.container {
    padding-top: 20px;
}

.list-group {
    padding-top: 20px;
    text-align: center;
}

